<section>
    <h1>Contact</h1>
    <div class="contactContent">
        <div class="leftContent">
            <span>Got a problem to solve?</span>
            <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing
                to your projects with my work.</span>
            <span>Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <div class="rightContent">
            <form (ngSubmit)="sendMessage()">
                <div>
                    <input [(ngModel)]="contactData.name" [ngModelOptions]="{standalone: true}" id="name" type="text">
                    <label for="name">Your name</label>
                </div>
                <div>
                    <input [(ngModel)]="contactData.email" [ngModelOptions]="{standalone: true}" id="email" type="email">
                    <label for="email">Your email</label>
                </div>
                <div>
                    <textarea [(ngModel)]="contactData.message" [ngModelOptions]="{standalone: true}" id="message" name="textfield" id="textfield"></textarea>
                        <label for="message">Your message</label>

                </div>

                <div class="privacyAndButton">
                    <div>
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <span>I´ve read the privacy policy and agree to the processing of my data as outlined</span>
                    </div>

                    <button>Say hello!</button>
                </div>

            </form>
        </div>
    </div>


</section>

<img class="blue-ball1" src="./assets/img/blue-ball.png">
<img class="blue-ball2" src="./assets/img/blue-ball.png">
<img class="blue-ball3" src="./assets/img/blue-ball.png">