<section>
    <p id="work-together">Let`s work together</p>
    <div class="about-me-text">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quam?
             Itaque commodi nulla voluptate, laborum fugiat ipsum adipisci dolores excepturi voluptatem et modi quibusdam culpa cupiditate?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, corrupti enim! Illo assumenda dolores in amet soluta dolorem</span><br>
             <br>
             <span>If you think I’d be a good match for your projects, contact me!</span>
             <br>
             <br>
        <!-- <a href="#contact">Send a message</a> -->
        <button #ripple class="btn btn--ripple" id="ripple">Ripple</button>
    </div>
</section>
