$blue-color: #5988ff;

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 64px;
    padding: 0px 64px;
    p {
        font-size: 121px;
        font-weight: 800;
        line-height: 121px;
        letter-spacing: 1%;
        font-family: 'Baloo 2';
        min-width: 600px;
    }
    .about-me-text {
        width: 700px;
        font-size: 23px;
        line-height: 27.6px;
        position: relative;
        a {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            text-decoration: none;
            border: 2px solid #5988ff;
            padding: 15px 30px;
            border-radius: 10px;
            font-size: 23px;
        }
    }
}