app-about-me-section {
    display: flex;
    padding: 192px 64px 128px 64px;
    position: relative;
}

app-my-projects-section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 32px 160px;
    overflow: hidden;
}

@media (max-width: 1000px) {
    app-my-projects-section {
        padding: 32px 64px;
    }
}

@media (max-width: 750px) {
    app-my-projects-section {
        padding: 32px 32px;
    }
}

