app-about-me-section {
    display: flex;
    padding: 192px 64px 128px 64px;
    position: relative;
}

app-my-projects-section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 32px 160px;
    overflow-x: hidden;
    overflow-y: hidden;
}

app-contact-section {
    position: relative;
    display: flex;
    overflow-x: hidden;
    background: linear-gradient(179.99deg, #ffffff 12.89%, #eaf0ff 91.39%);
}

@media (max-width: 1000px) {
    app-my-projects-section {
        padding: 32px 64px;
    }
}

@media (max-width: 750px) {
    app-my-projects-section {
        padding: 32px 32px;
    }
    app-about-me-section {
        padding: 192px 32px 128px 32px;
    }
}

