$blue-color: #5988ff;

.headline {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 2;
  h1 {
    color: #5988ff;
    font-family: "Baloo 2";
    font-size: 96px;
  }
  span {
    color: black;
    font-size: 23px;
  }
}

.myWorkBoxes {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: fit-content;
  margin-bottom: 100px;
  padding: 16px 0px;
  img {
    width: 720px;
    object-position: center;
    transition: all 250ms;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    &:hover {
      cursor: pointer;
      transform: translateY(-30px);
      scale: 1.1;
    }
  }
  .myWorkDescription {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 230px;
    h1 {
      font-size: 45px;
      color: #5988ff;
      font-family: "Baloo 2";
      line-height: 54px;
    }
    p {
      margin-bottom: 16px;
      font-size: 23px;
    }
    span {
      color: black;
    }
  }
}

.myWorkBoxes:nth-child(3) {
  display: flex;
  flex-direction: row-reverse !important;
  .myWorkDescription:nth-child(2) {
    display: flex;
    align-items: end;
    span {
      text-align: right;
    }
    .buttonFrame {
      justify-content: end;
    }
  }
}

.buttonFrame {
  position: absolute;
  bottom: 0px;
  display: flex;
  height: 65px;
  width: 100%;
  gap: 32px;
  :first-child {
    color: white;
    border: none;
    background: radial-gradient(
        74.22% 74.22% at 19.79% 22.42%,
        #5988ff 6.25%,
        #5988ff 51.56%,
        #0043f0 100%
      )
  }
  button {
    width: 155px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-size: 23px;
    border: 2px solid #5988ff;
    background-color: white;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all 100ms;
    color: #5988ff;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    span {
      position: absolute;
      z-index: -1;
      width: 140%;
      height: 180px;
      background: radial-gradient(
          74.22% 74.22% at 19.79% 22.42%,
          #5988ff 6.25%,
          #5988ff 51.56%,
          #0043f0 100%
        );
      left: -160%;
      top: -80px;
      transition: all 300ms;
      rotate: 20deg;
    }
    &:hover {
      cursor: pointer;
      scale: 1.2;
      color: white;
      border: none;
      span {
        left: 0;
      }
    }
  }
}

.blue-ball {
  position: absolute;
  z-index: -10;
}

@media (max-width: 1725px) {
  .myWorkBoxes {
    img {
      width: 600px;
    }
  }
}

@media (max-width: 1600px) {
  .myWorkBoxes {
    img {
      width: 500px;
    }
  }
}

@media (max-width: 1500px) {
  .myWorkBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    img {
      width: 550px;
    }
    .myWorkDescription {
      height: 250px;
      align-items: center;
      text-align: center;
      .buttonFrame {
        justify-content: center;
      }
    }
  }
  .myWorkBoxes:nth-child(3) {
    flex-direction: column !important;
    .myWorkDescription:nth-child(2) {
      display: flex;
      align-items: center;
      span {
        text-align: center;
      }
      .buttonFrame {
        justify-content: center;
      }
    }
  }

  .blue-ball:nth-child(1) {
    left: 30%;
  }
}

@media (max-width: 1330px) {
  .ball1 {
    left: unset !important;
    right: 30% !important;
  }
  .ball2 {
    top: 230px !important;
  }
}

@media (max-width: 1100px) {
  .ball4 {
    height: 432px !important;
    width: 432px !important;
    right: -172px !important;
  }
}

@media (max-width: 930px) {
  .ball1 {
    left: unset !important;
    right: 15% !important;
    top: 20px;
  }
  .ball2 {
    width: 100px !important;
    height: 100px !important;
  }
  .ball3 {
    top: 380px !important;
    width: 300px !important;
    height: 300px !important;
    left: -150px !important;
  }
  .ball5 {
    left: 20px !important;
  }
}

@media (max-width: 650px) {
  .headline h1 {
    font-size: 64px;
    padding-top: 64px;
  }
  .myWorkBoxes {
    img {
      width: 100%;
    }
    .myWorkDescription {
      width: 100%;
    }
  }
  .ball1 {
    width: 60px !important;
    right: 25% !important;
    height: 60px !important;
  }
  .ball2 {
    top: 280px !important;
  }
  .ball5 {
    top: 1550px !important;
    left: 2px !important;
  }
}

@media (max-width: 550px) {
  .ball4 {
    width: 250px !important;
    height: 250px !important;
    right: -80px !important;
  }
}

@media (max-width: 490px) {
  .ball3 {
    width: 220px !important;
    height: 220px !important;
    left: -110px !important;
  }
  .buttonFrame button {
    padding: 15px;
  }
}

@media (max-width: 400px) {
  .myWorkBoxes {
    .myWorkDescription {
      height: 320px;
    }
  }
  .buttonFrame {
    gap: 16px;
    button {
      width: 200px;
      font-size: 18px;
    }
  }
  .ball4 {
    top: 900px !important;
  }
}
