<section class="headline">
    <h1 id="headline-myWork">My work</h1>
    <span>Explore a selection of my work here - Interact with project to see my skills in action</span>
</section>

<section class="myWorkBoxes" *ngFor="let item of myWork; let i = index">
    <img src="./assets/img/my-work-section/{{ item.img }}" alt="Pokedex-FRAME">
    <div class="myWorkDescription">
        <h1>{{ item.title }}</h1>
        <p>{{ item.languages }}</p>
        <span>{{ item.description }}</span>
        <div class="buttonFrame">
            <button (click)="openProject(item.link)">Live Test</button>
            <button (click)="openGithub(item.github)">
                <span></span>
                Github
            </button>
        </div>
    </div>
</section>

<img class="blue-ball ball1" style="width: 108px; left: 40%;" src="./assets/img/blue-ball.png">
<img class="blue-ball ball2" style="width: 200px; height: 200px; top: 100px; right: 50px; z-index: -11;" src="./assets/img/blue-ball.png">
<img class="blue-ball ball3" style="width: 394px; height: 394px; left: -197px; top: 580px; z-index: -12;" src="./assets/img/blue-ball.png">
<img class="blue-ball ball4" style="width: 684px; height: 684px; right: -250px; top: 880px; z-index: -13;" src="./assets/img/blue-ball.png">
<img class="blue-ball ball5" style="width: 120px; height: 120px; left: 124px; top: 1460px; z-index: -14;" src="./assets/img/blue-ball.png">
