ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 300px;
  li {
    a {
      text-decoration: none;
      font-size: 46px;
      font-weight: 400;
      &:hover {
        scale: 1.1;
        font-weight: bold;
      }
    }
  }
}
