.mobile-nav-img {
  position: absolute;
  left: 110px;
  top: 24px;
  z-index: 55;
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 300px;
  li {
    a {
      text-decoration: none;
      font-size: 46px;
      font-weight: 400;
      &:hover {
        scale: 1.1;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 720px) {
  .mobile-nav-img {
    left: 46px;
    top: 37px;
  }
}

@media (max-width: 545px) {
}

@media (max-width: 396px) {
  ul {
    width: 180px;
    li a {
      font-size: 32px;
    }
  }
}
